coverage*
#Buidler files
cache/
artifacts/

node_modules/
!test/node_modules/
.env
contractsInfo.json
deployments/buidlerevm_*
deployments/localhost_*

.vscode/*
!.vscode/settings.json.default
solc_0.7/openzeppelin
