cache/
artifacts/

_lib

coverage*
typechain/
gasReporterOutput.json

.vscode/*
!.vscode/settings.json.default
!.vscode/launch.json.default
!.vscode/extensions.json.default

node_modules/
.env

.yalc
yalc.lock

contractsInfo.json
deployments/hardhat
deployments/localhost

export/*
!export/artifacts
!export/deploy
export/deploy/*
!export/deploy/001_deploy_erc20_transfer_gateway.js
!export/deploy/002_deploy_erc721_transfer_gateway.js
failing_metadata/
